* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    padding: 10px;
}
.square {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 4rem;
}

.vert {
    border-inline: 2px solid grey;
}
.horizontal {
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}